.depoimento {
   display: grid;
   grid-template-columns: 1fr 1fr;
   background: var(--cor-p1);
}

.depoimento img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: initial;
}

.depoimento-conteudo {
   align-self: end;
   padding: 40px 40px 80px 80px;
}

.depoimento-conteudo p {
   position: relative;
   max-width: 32ch;
   font-family: "Merriweather", serif;
   font-style: italic;
   font-weight: 900;
   margin-bottom: 32px;
}

.depoimento-conteudo p::before,
.depoimento-conteudo p::after {
   position: absolute;
   color: var(--cor-p2);
   font-size: 5rem;
}

.depoimento-conteudo p::before {
   content: "“";
   top: -20px;
   left: -50px;
}

.depoimento-conteudo p::after {
   content: "”";
}

@media (max-width: 800px) {
   .depoimento {
      grid-template-columns: 1fr;
      text-align: center;
   }

   .depoimento img {
      max-height: 200px;
   }

   .depoimento-conteudo {
      padding: 40px 20px;
   }

   .depoimento-conteudo p {
      max-width: initial;
      font-size: 1.5rem;
      line-height: 1.25;
   }

   .depoimento-conteudo p::before,
   .depoimento-conteudo p::after {
      content: none;
   }
}