.introducao-bg {
   color: #ffffff;
   background: #000000;
   box-shadow: inset 0 -120px #ffffff;
}

.introducao {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0 40px;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
   box-sizing: border-box;
}

.introducao-conteudo {
   align-self: end;
   padding-bottom: 240px;
}

.introducao-conteudo h1 {
   font-family: "Poppins";
   font-weight: 600;
   font-size: 64px;
   line-height: 1.125;
   margin-bottom: 32px;
}

.introducao-conteudo h1 span {
   color: #ffbb00;
}

.introducao-conteudo p {
   color: #b2b2b2;
   font-family: "Roboto";
   font-weight: 400;
   font-size: 24px;
   line-height: 1.5;
   margin-bottom: 20px;
}

.introducao img {
   height: 100%;
   object-fit: cover;
   border-radius: 4px;
}

@media (max-width: 1200px) {
   .introducao-conteudo h1 {
      font-size: 48px;
   }

   .introducao-conteudo p {
      font-size: 18px;
   }
}

@media (max-width: 800px) {
   .introducao-bg {
      background: #111111;
      box-shadow: inset 0 -60px #ffffff;
   }

   .introducao {
      grid-template-columns: 1fr;
      gap: 32px;
      padding-top: 40px;
   }

   .introducao-conteudo {
      padding-bottom: 0;
   }

   .introducao-conteudo h1 {
      font-size: 32px;
      margin-bottom: 16px;
   }

   .introducao img {
      width: 100%;
      height: 300px;
   }
}